<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Socket Template</title>
    <!-- <script src="../libraries/socketClient.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->

    <script type="text/javascript" src="https://p5livemedia.itp.io/simplepeer.min.js"></script>
	<script type="text/javascript" src="https://p5livemedia.itp.io/socket.io.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>	
    <script type="text/javascript" src="https://p5livemedia.itp.io/p5livemedia.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="squeaker.js"></script>
    <script src="scribe.js"></script>
    <script src="sketch.js"></script>

    <style>
      body {
        background-color: black;
      }

      .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}
    </style>
  </head>
  <body>

  </body>
</html>
